body {
    margin: 0;
    background: #F6F6F6;
}

.row {
    display: flex;
}

.cell {
    height: 24px;
    width: 24px;
    cursor: pointer;
    font-size: 0;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 4px;
    background: #faf7f0;
    line-height: 24px;
    border-radius: 4px;
}

.cell:hover {
    background: #bedbcf;
}

.opened {
    font-size: 20px;
}

.red-cell {
    border: 1px solid red;
}


.mine-container {
    display: flex;
    justify-content: center;
}

.mine-root {
    background:rgba(255,255,255,1);
    padding: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px 20px;

}

.action-panel {
    display: flex;
    justify-content: center;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 12px 0px rgba(0,0,0,0.04);

    border-radius:16px;
    padding: 20px;
}

.new-game {
    height:24px;
    background:rgba(255,255,255,1);
    padding: 6px 16px;

    border-radius:8px;
    border:1px solid rgba(226,226,234,1);
    cursor: pointer;

    font-size:14px;
    font-family:SFUIDisplay-Light,SFUIDisplay;
    font-weight:300;
    color:rgba(105,105,116,1);
    line-height:24px;
}